<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/b2d0db94-8cd3-4bee-bc6a-e2f8ffb9469d/resourceGroups/UTCShop/providers/Microsoft.ContainerRegistry/registries/utcshop</ResourceId>
    <ResourceName>utcshop</ResourceName>
    <ResourceGroup>UTCShop</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://utcshop.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>dc1bbd7a-2c06-4a1a-91d0-e77214bcf1b5</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>